@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");

body {
  font-family: Ubuntu, Oxygen, Roboto, Cantarell, "Open Sans", "SF Pro",
    sans-serif;
}

* {
  outline-color: -webkit-focus-ring-color;
  margin-block-start: 0;
  margin-block-end: 0;
}

main {
  text-align: center;
  margin: 0 auto;
  min-height: 100vh;
}
main#loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.375rem;
}

button {
  cursor: pointer;
}
